@font-face {
  font-family: "JnglAdvntr"; /* Custom font name */
  src: url("JungleAdventurer.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Samurai"; /* Custom font name */
  src: url("SamuraiBlast.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.Samurai{
  font-family: "Samurai", sans-serif;
}


.JnglAdvntr {
  font-family: "JnglAdvntr", sans-serif;
}

body {
  background-color: #393E46;
  font-family: "JnglAdvntr", sans-serif;
}

h1{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

h3{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #ffffff;
}

p{
  color: white;
}